---
# Only the main Sass file needs front matter (the dashes are enough)
---
@use "sass:math";
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=PT+Serif);

// Our variables
$base-font-family: 'PT Serif',serif;
$base-font-size:   16px;
$large-font-size:  $base-font-size * 1.25;
$medium-font-size: math.div(($base-font-size+$large-font-size),2);
$mediumer-font-size: math.div(($base-font-size+$medium-font-size),2);
$small-font-size:  math.div($base-font-size, 1.75);
$base-line-height: 1.5;
$page-top-pad: 50px;

$spacing-unit:        5px;
$left-width:          25%;
$overlap-width:       7%;
$right-width:         25%;
$curve-radius:        3px;
$middle-image-height: 120px;

$text-color:       #111;
$text-hover-color: rgba(0,255,255,0.5);
// was going to change to $text-hover-color: #391c00; but not as good
$background-color: #ffffffe0;
$brand-color:      #2a7ae2;
// was going to change to $brand-color:      #a5c14f; but not as good 
$syracuse-orange: #d44500;
$top-bg-color: black;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$top-bar-height:   50px;
// Width of the content area
$content-width:    800px;

$on-palm:         600px;
// following for testing/inspecting while on desktop
//$on-palm:         1000px;
$on-laptop:        800px;
//$leftimage-width:  image-width('taugh-f.jpg');
$leftimage-width:  400px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: math.div($spacing-unit, 2);
//         padding-left: math.div($spacing-unit, 2);
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.site-title {font-weight: bold}
h1,h2,h3 {font-weight: bold}
