---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=PT+Serif);

// Our variables
$base-font-family: 'PT Serif',serif;
$base-font-size:   16px;
$large-font-size:  $base-font-size / 0.875;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     2.5%;
$left-width:       25%;
$overlap-width:    7%;
$right-width:      75%;
$curve-radius:     20px;

$text-color:       #111;
$text-hover-color: rgba(0,255,255,0.5);
// was going to change to $text-hover-color: #391c00; but not as good
$background-color: rgb(150,150,170);
$brand-color:      #2a7ae2;
// was going to change to $brand-color:      #a5c14f; but not as good 
$syracuse-orange: #d44500;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$top-bar-height:   50px;
// Width of the content area
$content-width:    800px;

$on-palm:         600px;
$on-laptop:        800px;
//$leftimage-width:  image-width('taugh-f.jpg');
$leftimage-width:  400px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.site-title {font-weight: bold}
h1,h2,h3 {font-weight: bold}
