---
layout: default
---

<div class="home">
    <h1>Welcome!</h1>
{% capture my_include %}{% include welcome.md %}{% endcapture %}

  <h2>Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

{% capture my_include %}{% include sponsorship.md %}{% endcapture %}
  {{ my_include | markdownify kramdown }}

</div>
