<div class="floating-top">
    <div class="decoration">
        <a class="site-title" href="{{ site.baseurl }}/">The Franck Group</a>
    </div>
</div>


<!--This section to figure out liquid:
<ol>
    {% for p in site.pages where p.url.size > 11 %}
        {% assign a = (p.url | truncate: 11, '.') %}
        <li><i>{{ p.url }}:</i> directory level {{ p.url | split: '/' | size }} title "{{ p.title }}"
        {% if a == '/Software/.' %}
        is in the software directory
        {% endif %}
        </li>
    {% endfor %}
</ol>-->

