<div class="floating-top">
    <div class="decoration">
        <div class="brand">
            <img src="{{ site.baseurl }}/assets/nanoscale_molecule_icon.png" class="brand-molecule" alt="Spin-labeled molecule, the nanoscale view at the heart of the lab's research">
            <div class="brand-text">
                <span class="site-name">The Franck Lab</span>
                <span class="site-tagline">a nanoscale view of water at biological and material surfaces</span>
            </div>
        </div>
    </div>
    {% include nav_links.html %}
</div>


<!--This section to figure out liquid:
<ol>
    {% for p in site.pages where p.url.size > 11 %}
        {% assign a = (p.url | truncate: 11, '.') %}
        <li><i>{{ p.url }}:</i> directory level {{ p.url | split: '/' | size }} title "{{ p.title }}"
        {% if a == '/Software/.' %}
        is in the software directory
        {% endif %}
        </li>
    {% endfor %}
</ol>-->

