<div class="floating-top">
    <div class="decoration">
        <img src="{{ site.baseurl }}/header_only.png" class="title-image">
    </div>
    {% include nav_links.html %}
</div>


<!--This section to figure out liquid:
<ol>
    {% for p in site.pages where p.url.size > 11 %}
        {% assign a = (p.url | truncate: 11, '.') %}
        <li><i>{{ p.url }}:</i> directory level {{ p.url | split: '/' | size }} title "{{ p.title }}"
        {% if a == '/Software/.' %}
        is in the software directory
        {% endif %}
        </li>
    {% endfor %}
</ol>-->

