<header class="site-header">
    <div class="top-content">
        <div class="nav-wrapper">
            <nav class="site-nav">
                <div class="text">Menu:</div>
                <a href="#" class="menu-icon">
                    {% include hamburger.svg %}
                </a>
                <div class="trigger">
                    <ul>
                        <li><a class="page-link" href="{{ '/' | prepend: site.baseurl }}">Home</a></li>
                        {% for page in site.pages %}
                        {% if page.title %}
                        {% assign a = (page.url | split: '/' | size ) %}
                        {% if a < 3 %} 
                        <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
