/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}

strong {
    font-weight: bold;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

p {
    text-indent: 50px;
}
ul,ol {
    text-indent: 0px;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    text-shadow: 2px 2px 1px rgba(0,0,50,0.2);
}


h2{
    position:relative;
    overflow:hidden;
}
h2:after {
    content:"";
    top:70%;
    width:100%;
    margin-left:0px;
    height:0.5px;
    position:absolute;
    background:lightgrey;
}


/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $brand-color;
        text-decoration: underline;
        text-shadow: 0px 0px 5px $text-hover-color;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.left-image{
    margin-bottom: 0;
    margin-left: 0;
    z-index: -1;
    border-radius: #{$curve-radius};
}
.top-wrapper {
    width: 100%;
    max-width: #{$content-width};
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        width: 100%;
        max-width: #{$content-width};
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}
.top-left {
    text-align: center;
    vertical-align: top;
    margin: 0;
    border: 0;
    width: 90%;
    a {
    color: $text-color;
    }
}
.wrapper {
    width: #{0.5*$overlap-width+100%};
    //width: #{$right-width - $spacing-unit};
    //width: 30%;
    margin-right: auto;
    margin-left: #{-1*$overlap-width};
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    position: relative;
    @extend %clearfix;

    @include media-query($on-laptop) {
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}




/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        vertical-align: top;
        width: 16px;
        height: 16px;

        path {
            fill: $grey-color;
        }
    }
}
table {
  border-collapse: collapse;
  margin: 10px;
}
td {
  padding: 5px;
}
table td, table th {
  border: 1px solid black;
}
table tr:first-child th {
    border-bottom: 3px;
}

.mugshot img {
  float: left;
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.mugshot h2 {
  position: relative;
  top: 18px;
  left: 0px;
}
//tbody {
//    border:3px solid black;
//}
