/**
 * Site header
 */

h1 {
    border-bottom: 1px solid $grey-color-dark;
    line-height: #{0.75*$base-line-height};
    text-align: center;
}
.floating-top {
    /* this will stick -- need something that will stick under it */
    background-color: #ffffff00; /* white background */
    position: sticky;
    top: -$page-top-pad;
    z-index: 1; /* Ensure title is on top */
}
.floating-top .decoration{
    position: relative;
    background: #{$top-bg-color};
    width: 95%;
    display: block;
    max-width: #{$content-width};
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.33);
    //border: 2px solid rgb(33,41,28);
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 3px solid $grey-color-dark;
    //border-top-left-radius: #{$curve-radius};
    //border-top-right-radius: #{$curve-radius};
    height: #{$top-bar-height};
}
.site-header {
    // Positioning context for the mobile navigation icon
    min-height: 50px;
}

.site-title {
    font-size: #{0.5*$top-bar-height};
    letter-spacing: -1px;
    margin: 0 auto 0;
    &,
    &:visited {
        color: $syracuse-orange;
    }
}

.site-nav {
    margin: 0 auto 0;
    line-height: normal;
    border: 0px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    height: 100%;
    padding-top: 10px;

    .text{
        display: none;
    }
    ul{
        list-style-type: none;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $syracuse-orange;
        line-height: $base-line-height;
        white-space: nowrap;

        // Gaps between nav items, but not on the first one
        //&:not(:first-child) {
        //    margin-left: 20px;
        //}
    }
    .trigger{
        font-weight: bold;
        /*background-color: rgba(255, 255, 255, 0.5);*/
        background: linear-gradient(to right, transparent, #ffffffd0, #ffffffd0, transparent);
        border-color: black;
        border-top-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 0px;
        border-right-width: 0px;
        border-style: solid;
        border-image: linear-gradient(to right, transparent, black, black, transparent) 1;
        a {
            text-decoration-color: #{rgba($top-bg-color,0.75)};
            &:hover{
                text-decoration: none;
            }
        }
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            li {
                margin: 0 10px;
                z-index: +6;
                text-shadow: -0.5px 0.5px 1px #000;
            }
        }
    }

    @include media-query($on-palm) {// this is only included when the width is too small to accomodate "on-palm"
        position: absolute;
        top: 9px;
        right: 0px;
        background-color: $background-color;
        border: 2px solid $grey-color-dark;
        border-radius: 5px;
        text-align: left;
        width: 35px;
        height: 35px;
        .text{
            display: none;
        }
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 4px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
            float: left;
            line-height: normal;
        }
        &:hover{
            float: right;
            width: 20%;
            height: 300px;
            ul {
                display: block;
                text-align: left;
                padding: 0px;
                li{
                    display: block;
                    margin: 0px;
                    padding: 0px;
                }
                //list-style: square inside;
                //color: #{$syracuse-orange};
            }
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            height: 100%;
            font-weight: bold;
            background: none;
        }
        &:hover .text{
            display: inline;
            font-weight: bold;
            text-align: left;
            horizontal-align: left;
            margin-left: 2px;
            width: 50%;
        }
        .page-link {
            padding: 1px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0 0 0; /* top, right, bottom, left*/
    z-index: -5;
    background-color: white;
}

.footer-heading {
    font-size: 18px;
    font-size: 0.9vw;
    margin-bottom: ($spacing-unit)/( 2);
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
.social-media-list img {
    margin-bottom: -15px;
}
.title-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-height: 75px;
    width: auto;
    height: auto;
    position: relative;
    z-index: +6;
}
.main-text{
    background-color: white;
    padding: 20px;
}

.footer-col-wrapper {
    font-size: 15px;
    font-size: 0.7vw;
    color: $grey-color;
    margin-left: (-$spacing-unit)/( 2);
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: ($spacing-unit)/( 2);
    padding-left: ($spacing-unit)/( 2);
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
    max-width: 50px;// this is the syracuse seal
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-container {
    justify-content: center;
    text-align: center;
    align-items: center; /* Adjust alignment */
    height: 100vh; /* viewport percentage */
    overflow: auto; /* Added scrollable area */
    padding-top: $page-top-pad; /* Add padding to push content down */
}
.left-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.invisible-table{
    border: 0px;
    margin: 0px;
    tr{
        margin: 0px;
        padding: 0px;
    }
    td{
        //border: 3px solid green;
        border: 0px;
        margin: 0px;
        padding: 0px;
        height: 100%;
        vertical-align: top;
    }
    .top div{
        width: 100%;
        height: #{$top-bar-height+10px};
        padding: 0px;
        margin: 0px;
        min-height: #{$top-bar-height+20px};// to allow for top banner
        text-align: center;
    }
    .left div{
        height: 100%;
        padding: 0px;
        margin: 0px;
        min-height: #{$top-bar-height};// to allow for top banner
        text-align: center;
        .small-spacer{
            padding: 0px;
            margin: 0px;
            min-height: 5px;
            height: 25px;
            border: 0px;
        }
    }
    .left{
        width: #{$left-width};
        text-align: left;
    }
    .right{
        width: #{$right-width};
        text-align: right;
    }
    .middle{
        text-align: center;
        max-height: $middle-image-height;
    }
    .middle img{
        max-height: $middle-image-height;
    }
    .bottom{
        border: 0px;
        margin: 0px;
        padding: 0px;
        height: 100%;
        vertical-align: bottom;
    }
    div {
        margin: $spacing-unit;
    }
}
.top-content {
    margin: 0 auto 0;
    padding: 0 0;
    width: 100%;
    max-width: #{$content-width};
}

.bottom-pad{
    //border: 3px solid green;
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    min-height: #{0.2*$top-bar-height};
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $medium-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: $base-font-size;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: #{$medium-font-size};
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: #{$mediumer-font-size};
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

//{{{ slideshow
.slideshow {
	position: relative;
	width: 50%; /* Adjust the width as needed */
	height: 400px; /* Adjust the height as needed */
	overflow: hidden;
}

.slideshow img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slideshow .current {
	opacity: 1;
	transform: translateX(0);
}

.slideshow .previous {
	transform: translateX(-100%);
}

.slideshow .next {
	transform: translateX(100%);
}
//}}} slideshow
