/**
 * Site header
 */

h1 {
    border-bottom: 1px solid $grey-color-dark;
    line-height: #{0.75*$base-line-height};
    text-align: center;
}
.floating-top {
    position: fixed;
    // was going to change to background: rgba(235,242,215,0.9); but not as good
    top: 0;
    width: 100%;
    border: 0;
    height: #{$top-bar-height};
    z-index: +5;
}
.floating-top .decoration{
    position: relative;
    background: #{$top-bg-color};
    width: 100%;
    display: block;
    max-width: #{-4px+$content-width};
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.33);
    border: 2px solid rgb(33,41,28);
    //border-top: 5px solid $grey-color-dark;
    //border-bottom: 3px solid $grey-color-dark;
    border-top-left-radius: #{$curve-radius};
    border-top-right-radius: #{$curve-radius};
    height: #{$top-bar-height};
}
.site-header {
    // Positioning context for the mobile navigation icon
    min-height: 56px;
    height: 100%;
}

.site-title {
    font-size: #{0.5*$top-bar-height};
    letter-spacing: -1px;
    margin: 0 auto 0;
    &,
    &:visited {
        color: $syracuse-orange;
    }
}

.site-nav {
    margin: 0 auto 0;
    line-height: normal;
    border: 1px solid green;
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0;
    height: 100%;

    .text{
        display: none;
    }
    ul{
        list-style-type: none;
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $syracuse-orange;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        //&:not(:first-child) {
        //    margin-left: 20px;
        //}
    }
    .trigger{
        height: 100%;
        font-weight: bold;
        a {
            text-decoration: underline;
            text-decoration-color: #{rgba($top-bg-color,0.75)};
            &:hover{
                text-decoration-color: #{$syracuse-orange};
            }
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;
        width: 35px;
        height: 35px;
        .text{
            display: none;
        }
        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }
        .trigger {
            clear: both;
            display: none;
            float: left;
            line-height: normal;
        }
        &:hover{
            width: 80%;
            height: 150px;
            ul {
                text-align: left;
                list-style: square inside;
                color: #{$syracuse-orange};
            }
        }
        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            height: 100%;
            font-weight: bold;
        }
        &:hover .text{
            display: inline;
            font-weight: bold;
            text-align: left;
            horizontal-align: left;
            width: 50%;
        }
        .page-link {
            padding: 5px 10px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    z-index: -5;
}

.footer-heading {
    font-size: 18px;
    font-size: 0.9vw;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}
.social-media-list img {
    margin-bottom: -15px;
}
.title-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-height: 75px;
    width: auto;
    height: auto;
}

.footer-col-wrapper {
    font-size: 15px;
    font-size: 0.7vw;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
    max-width: 50px;// this is the syracuse seal
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    margin: 0 auto 0;
    padding: 0;
    width: 100%;
    max-width: #{$content-width};
    border-radius: #{$curve-radius};
    background: rgb(250,250,250);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.50);
    z-index: 0;
    height: auto;
}
.left-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.invisible-table{
    border: 0px;
    margin: 0px;
    tr{
        margin: 0px;
        padding: 0px;
    }
    td{
        //border: 3px solid green;
        border: 0px;
        margin: 0px;
        padding: 0px;
        height: 100%;
        vertical-align: top;
    }
    .top div{
        width: 100%;
        height: #{$top-bar-height+10px};
        padding: 0px;
        margin: 0px;
        min-height: #{$top-bar-height+20px};// to allow for top banner
        text-align: center;
    }
    .left div{
        height: 100%;
        padding: 0px;
        margin: 0px;
        min-height: #{$top-bar-height};// to allow for top banner
        text-align: center;
        .small-spacer{
            padding: 0px;
            margin: 0px;
            min-height: 5px;
            height: 25px;
            border: 1px solid red;
        }
    }
    .left td{
        width: #{$left-width + $overlap-width};
    }
    .right{
        width: #{$right-width};
    }
    .bottom{
        border: 0px;
        margin: 0px;
        padding: 0px;
        height: 100%;
        vertical-align: bottom;
    }
}
.top-content {
    margin: 0 auto 0;
    padding: 0 0;
    width: 100%;
    max-width: #{$content-width};
}

.bottom-pad{
    //border: 3px solid green;
    display: block;
    border: 0px;
    margin: 0px;
    padding: 0px;
    min-height: #{0.2*$top-bar-height};
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $large-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: $base-font-size;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;
        font-weight: bold;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
