<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="page-container">
            {% include header.html %}
            <div class="wrapper">
                <div class="main-text">
                    {{ content }}
                    {% include footer.html %}
                    <table class="invisible-table">
                        <tr>
                            <td class="bottom"><!--should be based on left width and overlap width-->
                                <img src="{{ site.baseurl }}/syracuse_campus.png" class="left-image"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="bottom-pad">
        </div>
    </body>

</html>
