<!DOCTYPE html>
<html>
<head>
  <title>Image Slideshow</title>
  <style>
    .slideshow {
      position: relative;
      width: 100%;
      height: 400px; /* Adjust the height as needed */
      overflow: hidden;
    }

    .slideshow img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: translateX(100%);
      transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    }
  </style>
</head>
<body>
  <div class="slideshow">
    {% for image in site.static_files %}
      {% if image.path contains 'slideshow/' %}
        <img src="{{ image.path }}" alt="{{ image.name }}">
      {% endif %}
    {% endfor %}
  </div>

  <script>
    var images = document.querySelectorAll('.slideshow img');
    var currentImage = 0;

    function showImage() {
      for (var i = 0; i < images.length; i++) {
        images[i].style.opacity = 0;
        images[i].style.transform = 'translateX(100%)';
      }

      images[currentImage].style.opacity = 1;
      images[currentImage].style.transform = 'translateX(0)';
      currentImage = (currentImage + 1) % images.length;

      setTimeout(showImage, 5000); // Change slide every 5 seconds
    }

    showImage();
  </script>
</body>
</html>
